---
import { Image } from 'astro:assets';
const { blok } = Astro.props;

import circle from '../../../src/images/svgs/circle.svg?raw';

// Ensure we have a valid image URL
const imageUrl = blok.image?.filename || ''
---

{imageUrl && (
  <div class="relative mx-auto my-10 max-w-7xl image-blok">
    <Image src={imageUrl} alt={blok.alt || ''} class="relative z-10 mx-auto block h-auto max-w-full" inferSize={true} />

    <div class="absolute top-0 left-1/2 z-0 h-full w-full max-w-4xl -translate-x-1/2 transform text-center">
      <Fragment set:html={circle} />
    </div>
  </div>
)}

<style>
  .image-blok {
    color: var(--accentColor);
  }
</style>
