---
const { blok } = Astro.props;

function getEmbedUrl(url: string): string | null {
  // YouTube
  const youtubeRegex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=)?(.+)/;
  const youtubeMatch = url.match(youtubeRegex);
  if (youtubeMatch) {
    return `https://www.youtube.com/embed/${youtubeMatch[1]}`;
  }

  // Vimeo
  const vimeoRegex = /(?:https?:\/\/)?(?:www\.)?(?:vimeo\.com)\/(.+)/;
  const vimeoMatch = url.match(vimeoRegex);
  if (vimeoMatch) {
    return `https://player.vimeo.com/video/${vimeoMatch[1]}`;
  }

  return null;
}

const embedUrl = getEmbedUrl(blok.videoUrl);
---

<figure class="mx-auto my-10 max-w-7xl">
  {embedUrl ? (
    <div class="relative h-0 max-w-full overflow-hidden bg-black video-container pb-[56.25%]">
      <iframe
        src={embedUrl}
        class="absolute top-0 left-0 h-full w-full"
        allow="fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  ) : (
    <p>Invalid video URL</p>
  )}

  {blok.caption && (
    <figcaption>{blok.caption}</figcaption>
  )}
</figure>
