---
import Application from '../layouts/Application.astro';
---

<Application title="404 - Pointless Corp" description="" slug="404/">
  <h1>Page Not Found</h1>
  <p>We’re sorry, but it looks like the page you’re looking for isn’t here. Try retyping the URL or returning to <a href="/">Pointless Corp</a>.</p>
</Application>
